appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Deprecated==1.2.12
docutils==0.16
idna==2.10
invoke==1.5.0
lxml==4.6.2
PyGithub==1.54.1
PyJWT==1.7.1
rellu==0.7
requests==2.25.1
robotframework==4.0
robotframework-pythonlibcore==2.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==5.1.1
selenium==3.141.0
soupsieve==2.2
tqdm==4.59.0
urllib3==1.26.4
webdrivermanager==0.10.0
wrapt==1.12.1
